<!--播放器组件-->
<div class="m-player">
  <!--  播放器的锁-->
  <div class="lock">
    <div class="left">
      <li></li>
    </div>
  </div>
  <!--  播放器消失后鼠标移动到下面的横条式显示播放器-->
  <div class="hand">

  </div>
  <div class="container">
    <div class="wrap">
      <!-- 三个播放器按钮-->
      <div class="btns">
        <i class="prev" (click)="prev(currentIndex-1)"></i>
        <i class="toggle" [class.playing]="playing" (click)="playOrPause()"></i>
        <i class="next" (click)="next(currentIndex+1)"></i>
      </div>
      <div class="head">
        <img [src]="picUrl">
        <i class="mask"></i>
      </div>
      <div class="play">
        <div class="words clearfix">
          <p class="ellipsis  margin-buttom-none">{{currentSong?.name}}</p>
          <ul class="songs clearfix margin-buttom-none">
            <li *ngFor=" let item of songar;last as isLast">
              <a href="">{{item?.name}}</a>
              <span [hidden]="isLast">/</span>
            </li>
          </ul>
        </div>
        <div class="bar">
          <div class="slider-wrap">
            <app-music-slider [(ngModel)]="sliderValue" [bufferOffset]="bufferPercent"
                              (wyOnAfterChange)="slidePercentChange($event)"></app-music-slider>
          </div>
          <span class="time">
            <em>{{currtime|timeFormat}}</em>/{{songtime|timeFormat}}
          </span>
        </div>
      </div>
      <div class="oper">
        <i class="like" title="收藏"></i>
        <i class="share" title="分享"></i>
      </div>
      <div class="ctrl">
        <i class="volume" title="音量"></i>
        <i class="loop" title="循环"></i>
        <p class="open">
          <span></span>
        </p>
        <div class="contro-vol">
          <app-music-slider [vercital]="true"></app-music-slider>
        </div>
      </div>
    </div>
  </div>
  <audio #audio [src]="currentSong?.url"
         (canplay)="onCanplay()"
         (timeupdate)="onTimeUpdate($event)"
  ></audio>
</div>
